/* styles.css */

/* Add a background gradient for a 3D effect */
body {
  background: linear-gradient(45deg, #222, #000);
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Add a box shadow and border for the main container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
   /* Darker background color */
  padding: 20px;
  border: 2px solid #00FF00;
  border-radius: 10px;
  height: 100vh;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Add a subtle green box shadow */
}

/* Style the h1 element */
.app-container > h3 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.5); /* Add a green text shadow */
}

/* Style the .container and .webcam-container */
.container, .webcam-container {
  background-color: #222; /* Slightly darker background color */
  border: 2px solid #00FF00;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

/* Style buttons */
button {
  background: linear-gradient(45deg, #00FF00, #0A9500); 
  /* Green gradient background */
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Slightly reduced margin */
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3); /* Add a green box shadow */
}

/* Style the image cards */
.image-card {
  background-color: #333; /* Slightly darker background */
  border: 1px solid #00FF00;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
}

/* Style the images */
.image-card img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

/* Style the analysis results */
.analysis-results {
  background-color: #333; /* Slightly darker background */
  border: 1px solid #00FF00;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
}

/* Style the analysis results list */
.analysis-results ul {
  list-style: none;
  padding: 0;
}

/* Style the analysis results list items */
.analysis-results li {
  color: white;
}

.gps {
  width: 50%;
  padding: 10%;
}

/* Style the location information */
p {
  color: #00FF00;
  font-size: 18px;
  margin-top: 10px; /* Slightly reduced margin */
}

.labels {
  color: white;
}


.spinner {
  border: 5px solid rgba(69, 30, 30, 0.1);
  border-top: 5px solid #007bff; /* Set the spinner color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}